@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }

    /* Create four equal columns that sits next to each other */
    .column {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }

        .column img {
            margin-top: 8px;
            vertical-align: middle;
        }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @@media (max-width: 800px) {
        .column {
            flex: 50%;
            max-width: 50%;
        }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @@media (max-width: 600px) {
        .column {
            flex: 100%;
            max-width: 100%;
        }
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#imageGallery').empty();
        $('#imgRow').hide();
        $('#imgItem').hide();
        $.getJSON("/api/images")
            .done(function (data) {
                var imgCount = 0;
                var imgRowIdx = 0;
                var imgRow;
                $.each(data, function (key, item) {
                    if (imgCount % 3 == 0) {
                        imgRowIdx++;
                        imgRow = $('#imgRow').clone().attr('id', 'imgRow' + imgRowIdx).show();
                        $('#imageGallery').append(imgRow);
                    }
                    imgCount++;
                    var imgItem = $('#imgItem').clone().show();
                    imgItem.find('#imgLink')[0].href = item.ImagePath;
                    imgItem.find('#imgThumb')[0].src = item.ImagePath;
                    //imgItem.find('#caption').text(item.ImageCaption);
                    imgRow.append(imgItem);
                });
            });
    });
</script>
<div id="imageGallery">
</div>
<div id="imgRow" class="row">
</div>
<div id="imgItem" class="col-md-4">
    <div class="thumbnail">
        <a id="imgLink" href="">
            <img id="imgThumb" src="" alt="" style="width:100%">
            @*<div class="caption">
                <p id="caption"></p>
            </div>*@
        </a>
    </div>
</div>