@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }

    /* Create four equal columns that sits next to each other */
    .column {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }

        .column img {
            margin-top: 8px;
            vertical-align: middle;
        }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @@media (max-width: 800px) {
        .column {
            flex: 50%;
            max-width: 50%;
        }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @@media (max-width: 600px) {
        .column {
            flex: 100%;
            max-width: 100%;
        }
    }

    div#imageGallery, div#videoGallery {
        padding-top: 10px;
        background-color: white;
    }

        div#imageGallery .row, div#videoGallery .row {
            margin-left: 0;
            margin-right: 0;
        }

    .thumbnail {
        background-color: black;
    }

    div#videoBox {
        border: solid 5px black;
        margin-bottom: 10px;
    }

    .tab-content {
        border-left: solid 1px gainsboro;
        border-right: solid 1px gainsboro;
        border-bottom: solid 1px gainsboro;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#imageGallery').empty();
        $('#imgRow').hide();
        $('#imgItem').hide();
        $.getJSON("/api/images")
            .done(function (data) {
                var imgCount = 0;
                var imgRowIdx = 0;
                var imgRow;
                $.each(data, function (key, item) {
                    if (imgCount % 3 == 0) {
                        imgRowIdx++;
                        imgRow = $('#imgRow').clone().attr('id', 'imgRow' + imgRowIdx).show();
                        $('#imageGallery').append(imgRow);
                    }
                    imgCount++;
                    var imgItem = $('#imgItem').clone().show();
                    imgItem.find('#imgLink')[0].href = item.ImagePath;
                    imgItem.find('#imgThumb')[0].src = item.ThumbnailPath;
                    //imgItem.find('#caption').text(item.ImageCaption);
                    imgRow.append(imgItem);
                });
            });


        $('#videoGallery').empty();
        $('#videoRow').hide();
        $('#videoItem').hide();
        $.getJSON("/api/videos")
            .done(function (data) {
                var videoCount = 0;
                var videoRowIdx = 0;
                var videoRow;
                $.each(data, function (key, item) {
                    if (videoCount % 3 == 0) {
                        videoRowIdx++;
                        videoRow = $('#videoRow').clone().attr('id', 'videoRow' + videoRowIdx).show();
                        $('#videoGallery').append(videoRow);
                    }
                    videoCount++;
                    var videoItem = $('#videoItem').clone().show();
                    videoItem.find('video')[0].src = item.VideoPath;
                    videoRow.append(videoItem);
                });
            });
    });
</script>


<div class="container">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#images" data-toggle="tab">Images</a>
        </li>
        <li>
            <a href="#videos" data-toggle="tab">Videos</a>
        </li>
    </ul>

    <div class="tab-content clearfix">
        <div class="tab-pane active" id="images">
            <div id="imageGallery">
            </div>
        </div>
        <div class="tab-pane" id="videos">
            <div id="videoGallery">
            </div>
        </div>
    </div>
    <div id="imgRow" class="row">
    </div>
    <div id="imgItem" class="col-md-4">
        <div class="thumbnail">
            <a id="imgLink" href="">
                <img id="imgThumb" src="" alt="" style="width:100%">
            </a>
        </div>
    </div>
    <div id="videoRow" class="row">
    </div>
    <div id="videoItem" class="col-md-4">
        <div id="videoBox">
            <video controls src="" width="100%"></video>
        </div>
    </div>
</div>