<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="NoReplyFromAddress" value="noreply@spotlightes.com"/>
        <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="ContactEmailAddress" value="contact@spotlightes.com"/>
    </appSettings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>

    <system.net>
        <mailSettings xdt:Transform="Replace" >
            <smtp from="noreply@spotlightes.com">
                <network host="relay-hosting.secureserver.net" />
            </smtp>
        </mailSettings>
    </system.net>
    <system.codedom xdt:Transform="Remove"></system.codedom>
</configuration>
